In [2]:
import pandas as pd
import numpy as np

In [3]:
rules = pd.read_csv('rules.csv')

In [5]:
rules.describe()

,Unnamed: 0,antecedent support,consequent support,support,confidence,lift,leverage,conviction
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,74.500000,0.027749,0.027749,0.002013,0.153682,23.106012,0.001358,1.290721
std,43.445368,0.021231,0.021231,0.001064,0.181042,68.229361,0.000978,0.726136
min,0.000000,0.001894,0.001894,0.001216,0.018098,1.048041,0.000060,1.001741
25%,37.250000,0.011295,0.011295,0.001308,0.042306,1.807371,0.000708,1.018881
50%,74.500000,0.020003,0.020003,0.001583,0.105149,2.943475,0.001061,1.068843
75%,111.750000,0.035384,0.035384,0.002121,0.158780,9.073640,0.001803,1.142649
max,149.000000,0.067177,0.067177,0.007068,0.821138,365.278134,0.004681,5.412602

In [42]:
rules['support_q'] = pd.qcut(rules.support, 4, labels = [1,2,3,4])
rules['lift_q'] = pd.qcut(rules.lift, 4, labels = [1,2,3,4])
rules['support_lift_q'] = rules.support_q.astype('str') + rules.lift_q.astype('str')

In [46]:
rules[rules.support_lift_q == '44'].confidence.describe()

count    16.000000
mean      0.310168
std       0.206545
min       0.081781
25%       0.171076
50%       0.247678
75%       0.421332
max       0.821138
Name: confidence, dtype: float64

In [49]:
rules.support_lift_q.value_counts()

11    16
44    16
22    12
43    12
32    12
21    10
31    10
24     8
34     8
12     8
13     8
23     8
33     8
42     6
14     6
41     2
Name: support_lift_q, dtype: int64

In [44]:
rules.to_csv('ranked_rules.csv')